# Auto detect text files and perform LF normalization
.git* text eol=lf

* text=auto

*.mat text eol=lf
*.config text eol=lf
*.correction text eol=lf
.code-checks.sh text eol=lf
.system-setup.sh text eol=lf
